<%- include('../_layouts/adminheader.ejs') %>

<h2 class="page-title">Products</h2>
<a href="/admin/products/add-product" class="btn btn-primary">Add a new product</a>
<br><br>
<table class="table table-striped sorting">

  <thead>
    <tr class="home">
      <th>Product</th>
      <th>Price</th>
      <th>Category</th>
      <th>Product Image</th>
      <th>Edit</th>
      <th>Delete</th>
    </tr>
  </thead>

  <tbody>
    <% products.forEach(function(product) { %>
      <tr>
        <td>
          <%= product.title %>
        </td>
        <td>
          <%= parseFloat(product.price).toFixed(2) %>
        </td>
        <td>
          <%= product.category %>
        </td>
        <td>
          <% if (product.image == '') { %>
          <img class="noimage" src="/images/noimage.png">
          <% } else { %>
          <img class="noimage" src="/product-images/<%= product._id %>/<%= product.image %>">
          <% } %>
        </td>
        <td><a href="/admin/products/edit-product/<%= product._id %>">Edit</a></td>
        <td><a class="confirmDeletion" href="/admin/products/delete-product/<%= product._id %>">Delete</a></td>
      </tr>
      <% }); %>
  </tbody>

</table>
<script src="https://code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script>
  $('tbody').sortable({
    items: "tr:not('.home')",
    placeholder: "ui-state-highlight",
    update: function () {
      var ids = $('tbody').sortable('serialize');
      var url = '/admin/pages/reorder-pages';
      // ajax call
      $.post(url, ids);
    }
  });
</script>
<script>
  $('a.confirmDeletion').on('click',function(){
      if(!confirm('confirm deletion')){
          return false;
      }
  })
</script>
<%- include('../_layouts/adminfooter.ejs') %>